@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html,
body,
:root {
  height: 100%;
}

pre {
  --tw-bg-opacity: 1;
  background-color: #e5e7eb;
  padding: 1.5rem;
  color: #1f293b;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.title-shadow{
  text-shadow: 0.2px 0.2px 1px white;
}

.title-card-image{
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}